@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* SUPERINFO */

.superinfo-bg {
  background: #122ab2;
  color: #fff;
}

.superinfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 10px;
}

.superinfo p,
.superinfo a {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: #fff;
}

/* MENU */

.menu-bg {
  background: #2c70ff;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
}

.menu a {
  color: #fff;
}

.menu-logo a {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  display: block;
  font-size: 1.25rem;
  padding: 10px;
}

.menu-nav a:hover {
  color: #122ab2;
}

/* INTRO */

.intro {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
  font-size: 3rem;
  line-height: 1;
}

/* ABOUT */

.about {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
}

.about-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.about-info h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.about-info p {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: #7c7c7c;
}

.about-img {
  flex: 1 1 160px;
  margin: 0 10px;
}

/* PRODUCTS */

.products {
  max-width: 960px;
  margin: 60px auto;
}

.products h1 {
  font-size: 3rem;
  margin: 0 10px 60px 10px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.products-item {
  flex: 1 1 175px;
  margin: 10px;
}

.products-item h2 {
  font-size: 3rem;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
}

.purple {
  border-top: 8px solid #ae81ff;
}

.pink {
  border-top: 8px solid #f9265e;
}

.blue {
  border-top: 8px solid #66d9eb;
}

/* PRICE */

.price {
  display: flex;
  flex-wrap: wrap;
  background: #f7f7f7;
  padding: 60px;
  align-items: flex-end;
}

.price-item {
  flex: 1;
  border: 4px solid #fff;
  padding: 20px;
  margin: 10px;
  min-width: 260px;
}

.price-item h2 {
  font-size: 3rem;
  color: #a4a4a4;
  text-align: center;
  margin-top: 20px;
}

.price-item span {
  display: block;
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding: 10px 0 5px 0;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.price-item sup {
  font-size: 1.5rem;
}

.price-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25rem;
  font-style: italic;
  color: #7c7c7c;
}

.price-item li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.price-item li::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background: #2c70ff;
  border-radius: 50%;
}

.price-item a {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 4px solid;
  color: #222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.25rem;
  padding: 15px 0;
  text-align: center;
}

@media (max-width: 800px) {
  .price {
    padding-left: 10px;
    padding-right: 10px;
  }
  .price .price-item:nth-child(3) {
    order: -2;
  }
  .price .price-item:nth-child(2) {
    order: -1;
  }
}

/* QUALITY */

.quality {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 60px auto;
}
.quality-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}

.quality-item h2 {
  font-size: 2.25rem;
  color: #a4a4a4;
  margin-bottom: 20px;
}

.quality-item h2::before {
  display: inline-block;
  content: '';
  width: 8px;
  height: 30px;
  margin-right: 10px;
}

.quality-item:nth-of-type(3n + 1) h2::before {
  background: #ae81ff;
}

.quality-item:nth-of-type(3n + 2) h2::before {
  background: #f9265e;
}

.quality-item:nth-of-type(3n + 3) h2::before {
  background: #66d9eb;
}

.quality-item p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
}

/* NEWSLETTER */

.newsletter {
  display: flex;
  flex-wrap: wrap;
  background: #f7f7f7;
  padding: 60px calc((100% - 960px) / 2);
}

.newsletter-info {
  flex: 1 1 260px;
  margin: 0 10px;
}

.newsletter-info h1 {
  font-size: 3rem;
  color: #a4a4a4;
}

.newsletter-info p {
  font-size: 1.25rem;
  font-style: italic;
  max-width: 230px;
  color: #7c7c7c;
  margin-bottom: 10px;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
}

.newsletter-form input {
  flex: 3 1 260px;
  font-size: 1.25rem;
  color: #7c7c7c;
  font-style: italic;
  font-family: 'Nunito', sans-serif;
  border: 4px solid #2c70ff;
  background: transparent;
  padding: 15px 10px;
  margin: 0;
  border-radius: 0px;
}

.newsletter-form button {
  flex: 1 1 260px;
  font-family: 'Nunito', sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  background: #2c70ff;
  color: #fff;
  margin: 0;
  cursor: pointer;
  border: none;
  padding: 15px 10px;
}

@media (max-width: 600px) {
  .newsletter-form button {
    font-size: 1.5rem;
  }
}

/* FOOTER */

.footer {
  display: flex;
  align-items: center;
  background: #2c70ff;
  height: 200px;
}

.footer p {
  flex: 1;
  text-align: center;
  font-size: 2.25rem;
  color: #0e1e7d;
}
